<div class="l-main">
  <div class="row">
    <header class="small-12 columns small-order-2 medium-order-1 header__wrapper" role="banner">
      {{> header}}
    </header>
    <div class="small-12 columns small-order-1 medium-order-2 menu-bar__wrapper">
      <div class="title-bar" data-responsive-toggle="menu-search-wrapper" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="top-bar" id="menu-search-wrapper">
        <div class="top-bar-left main-menu__wrapper">
          {{> menu}}
        </div>
        <div class="top-bar-right search__wrapper">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns show-for-medium breadcrumb__wrapper">
      {{> breadcrumb}}
    </div>
    <div class="small-12 medium-8 columns content__main">
      <h1>Welcome</h1>
      <p>Maecenas tempor ornare commodo. Duis lacus nisi, placerat at porta nec, feugiat vel ligula. Duis non semper neque, ac ornare orci. Nam porttitor ac ante vel viverra. Morbi lacus mi, pulvinar in euismod ut, pretium vitae justo. Cras eget dolor tempus, pulvinar eros id, pulvinar nisi. Praesent venenatis, mi pulvinar fringilla semper, tortor leo lacinia ligula, eget pharetra arcu ante posuere lorem. Donec a fringilla mauris, fringilla placerat lacus. Duis faucibus nibh ac leo tempus elementum. Proin nibh libero, varius sed ullamcorper sed, finibus at urna.</p>
      <p>Nam nec felis non lorem maximus lacinia vitae at ligula. Nulla eu ipsum at augue tempus interdum id a tellus. Nunc imperdiet leo ac diam posuere tempus. Donec viverra lobortis ex luctus dapibus. Ut et condimentum purus. Ut ac nisl ut arcu consectetur pharetra. Vivamus magna justo, faucibus sed sollicitudin at, vestibulum ac mauris. Nunc porttitor purus ut justo volutpat, nec bibendum dolor viverra.</p>
    </div>
    <aside class="small-12 medium-4 columns content__sidebar" role="complementary">
      <div class="block__wrapper">
        <h4>Sidebar Title</h4>
        <p>Nullam aliquet purus vitae nisl efficitur, ac vestibulum diam auctor. Nullam at lacus porttitor sapien molestie consectetur non vitae nisi. Donec est magna, faucibus ac magna sed, maximus consequat felis. Nullam eget risus ut justo bibendum venenatis nec in leo.</p>
      </div>
    </aside>
    <footer class="small-12 columns content__footer" role="contentinfo">
      {{> footer }}
    </footer>
  </div>
</div>
